<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Payment">
	<resultMap type="Payment" id="paymentResultSet">
		<id property="paymentId" column="PAYMENT_ID"/>
		
		<result property="tid" column="TID"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="payAmount" column="PAY_AMOUNT"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
	</resultMap>
	<resultMap type="ReservePoint" id="reserveResultSet">
		<id property="pointId" column="POINT_ID"/>
		
		<result property="reservePoint" column="RESERVE_POINT"/>
		<result property="reserveDate" column="RESERVE_DATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="reserveType" column="RESERVE_TYPE"/>
		<result property="reviewId" column="REVIEW_ID"/>
		<result property="spotReviewId" column="SPOT_REVIEW_ID"/>
		<result property="trvId" column="TRV_ID"/>
	</resultMap>
	<resultMap type="UsePoint" id="useResultSet">
		<id property="pointId" column="POINT_ID"/>
		
		<result property="usePoint" column="USE_POINT"/>
		<result property="useDate" column="USE_DATE"/>
		<result property="useType" column="USE_TYPE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="trvId" column="TRV_ID"/>
		<result property="requestId" column="REQUEST_ID"/>
	</resultMap>
	<!-- 포인트 충전 -->
	<insert id="insertPay" parameterType="Payment">
		INSERT INTO PAYMENT
		VALUES(PAYMENT_SEQ.NEXTVAL, #{tid}, #{memberId}, #{payAmount}, #{paymentDate})
	</insert>	
	<!-- 포인트 충전 리스트 전체 카운터 -->
	<select id="getChargeListCount" parameterType="Payment" resultType="_int">
		SELECT COUNT(*)
		FROM PAYMENT
		WHERE MEMBER_ID=#{memberId}
		<choose>
			<when test="month != null">
				AND EXTRACT(MONTH FROM PAYMENT_DATE)=${month}
			</when>
		</choose>
	</select>
	<!-- 포인트 지급 리스트 전체 카운터 -->
	<select id="getReceiveListCount" parameterType="ReservePoint" resultType="_int">
		SELECT COUNT(*)
		FROM RESERVE_POINT
		WHERE MEMBER_ID=#{memberId}
		<choose>
			<when test="month != null">
				AND EXTRACT(MONTH FROM RESERVE_DATE)=${month}
			</when>
		</choose>
	</select>
	<!-- 포인트 사용 리스트 전체 카운터 -->
	<select id="getUseListCount" parameterType="UsePoint" resultType="_int">
		SELECT COUNT(*)
		FROM USE_POINT
		WHERE MEMBER_ID=#{memberId}
		<choose>
			<when test="month != null">
				AND EXTRACT(MONTH FROM USE_DATE)=${month}
			</when>
		</choose>
	</select>
	<!-- 포인트 충전리스트 전체 조회 -->
	<select id="selectChargeList" parameterType="Payment" resultMap="paymentResultSet">
		SELECT *<!-- PAYMENT_ID, TID, MEMBER_ID, PAY_AMOUNT, TO_CHAR(PAYMENT_DATE,'YYYY/MM/DD') -->
		FROM PAYMENT
		WHERE MEMBER_ID=#{memberId}
		<choose>
			<when test="month != null">
				AND EXTRACT(MONTH FROM PAYMENT_DATE)=#{month}
			</when>
		</choose>
		ORDER BY PAYMENT_DATE DESC
	</select>
	<!-- 포인트 지급리스트 전체 조회 -->
	<select id="selectReceiveList" parameterType="ReservePoint" resultMap="reserveResultSet">
		SELECT *
		FROM RESERVE_POINT
		WHERE MEMBER_ID=#{memberId}
		<choose>
			<when test="month != null">
				AND EXTRACT(MONTH FROM RESERVE_DATE)=${month}
			</when>
		</choose>
		ORDER BY RESERVE_DATE DESC
	</select>
	<!-- 포인트 사용리스트 전체 조회 -->
	<select id="selectUseList" parameterType="UsePoint" resultMap="useResultSet">
		SELECT *
		FROM USE_POINT
		WHERE MEMBER_ID=#{memberId}
		<choose>
			<when test="month != null">
				AND EXTRACT(MONTH FROM USE_DATE)=${month}
			</when>
		</choose>
		ORDER BY USE_DATE DESC
	</select>
	<!-- 포인트 자동으로 적립하기 -->
	<insert id="insertReservePoint" parameterType="ReservePoint">
		INSERT INTO RESERVE_POINT
		VALUES( RESERVE_POINT_SEQ.NEXTVAL, #{reservePoint}, #{reserveDate}, #{memberId}, #{reserveType},
		<choose>
			<when test="reviewId != 0">#{reviewId}, null, null</when>
			<when test="spotReviewId != 0">null, #{spotReviewId}, null </when>
			<when test="trvId != 0">null, null, #{trvId}</when>
		</choose> )
	</insert>	
</mapper>