<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="Spot">
 
 	<!-- country map 세령 -->
 	<resultMap type="com.kh.ti.travel.model.vo.Country" id="countryResultSetSpot">
 		<id property="countryId" column="COUNTRY_ID"/>
 		<result property="continentName" column="CONTINENT_NAME"/>
 		<result property="countryNameKo" column="COUNTRY_NAME_KO"/>
 		<result property="countryNameEn" column="COUNTRY_NAME_EN"/>
 		<result property="currencyUnit" column="CURRENCY_UNIT"/>
 	</resultMap>
 	
 	<!-- city map 세령 -->
 	<resultMap type="com.kh.ti.travel.model.vo.City" id="cityResultSetSpot">
 		<id property="cityId" column="CITY_ID"/>
 		<result property="cityNameKo" column="CITY_NAME_KO"/>
 		<result property="cityContent" column="CITY_CONTENT"/>
 		<result property="countryId" column="COUNTRY_ID"/>
 		<result property="cityNameEn" column="CITY_NAME_EN"/>
 	</resultMap>
 	
 	<!-- spot file map 세령 -->
 	<resultMap type="com.kh.ti.spot.model.vo.SpotFile" id="spotFileResultSet">
 		<id property="fileId" column="FILE_ID"/>
 		<result property="filePath" column="FILE_PATH"/>
 		<result property="changeName" column="CHANGE_NAME"/>
 		<result property="orginName" column="ORIGIN_NAME"/>
 		<result property="picType" column="PIC_TYPE"/>
 		<result property="uploadDate" column="UPLOAD_DATE"/>
 		<result property="picStatus" column="PIC_STATUS"/>
 		<result property="spotId" column="SPOT_ID"/>
 		<result property="cityId" column="CITY_ID"/>
 		<result property="fileLevel" column="FILE_LEVEL"/>
 	</resultMap>
 	
 	<!-- spotCityList Map 세령 -->
 	<resultMap type="com.kh.ti.spot.model.vo.SpotCityList" id="spotCityListResultSet">
 		<id property="CityListId" column="CITY_ID"/>
 		<collection property="cityList" javaType="java.util.ArrayList" resultMap="cityResultSetSpot"/>
 		<collection property="countryList" javaType="java.util.ArrayList" resultMap="countryResultSetSpot"/>
 		<collection property="sFileList" javaType="java.util.ArrayList" resultMap="spotFileResultSet"/>
  	</resultMap> 
  	
  	<!-- SpotList Map 세령 -->
  	<resultMap type="com.kh.ti.spot.model.vo.SpotList" id="spotResultSet">
 		<id property="spotId" column="SPOT_ID"/>
 		<result property="spotNameKo" column="SPOT_NAME_KO"/>
 		<result property="spotNameEn" column="SPOT_NAME_EN"/>
 		<result property="spotContent" column="SPOT_CONTENT"/>
 		<result property="spotAddress" column="SPOT_ADDRESS"/>
 		<result property="openingHours" column="OPENING_HOURS"/>
 		<result property="spotPhone" column="SPOT_PHONE"/>
 		<result property="webAddress" column="WEB_ADDRESS"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="modifyDate" column="MODIFY_DATE"/>
 		<result property="delDate" column="DEL_DATE"/>
 		<result property="recoveryDate" column="RECOVERY_DATE"/>
 		<result property="spotCount" column="SPOT_COUNT"/>
 		<result property="cityId" column="CITY_ID"/>
 		<result property="spotStatus" column="SPOT_STATUS"/>
 		<result property="placeId" column="PLACE_ID"/>
  	</resultMap>
  	
  	<!-- 여행지 도시 와 사진을 가지고 오기 위한 hashmap 세령-->
  	<resultMap type="java.util.HashMap" id="spopCityAllResultSet">
  		<id property="cityId" column="CITY_ID"/>
		<result property="cityNameKo" column="CITY_NAME_KO"/>
		<result property="cityContent" column="CITY_CONTENT" jdbcType="CLOB" javaType="java.lang.String" />
		<result property="countryId" column="COUNTRY_ID"/>
		<result property="cityNameEn" column="CITY_NAME_EN"/>
		<result property="fileId" column="FILE_ID"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="picType" column="PIC_TYPE"/>
		<result property="picStatus" column="PIC_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
  	</resultMap>
  	
  	<!-- 도시상세 명소리스트 가지고 오기위한 hashmapp 세령 -->
	<resultMap type="java.util.HashMap" id="spotListAllResultSet">
		<id property="spotId" column="SPOT_ID"/>
 		<result property="spotNameKo" column="SPOT_NAME_KO"/>
 		<result property="spotNameEn" column="SPOT_NAME_EN"/>
 		<result property="spotContent" column="SPOT_CONTENT"  jdbcType="CLOB" javaType="java.lang.String"/>
 		<result property="spotAddress" column="SPOT_ADDRESS"/>
 		<result property="openingHours" column="OPENING_HOURS"/>
 		<result property="spotPhone" column="SPOT_PHONE"/>
 		<result property="webAddress" column="WEB_ADDRESS"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="modifyDate" column="MODIFY_DATE"/>
 		<result property="delDate" column="DEL_DATE"/>
 		<result property="recoveryDate" column="RECOVERY_DATE"/>
 		<result property="spotCount" column="SPOT_COUNT"/>
 		<result property="cityId" column="CITY_ID"/>
 		<result property="spotStatus" column="SPOT_STATUS"/>
 		<result property="placeId" column="PLACE_ID"/>
 		<result property="fileId" column="FILE_ID"/>
		<result property="filePath" column="FILE_PATH"/>
		<result property="picType" column="PIC_TYPE"/>
		<result property="picStatus" column="PIC_STATUS"/>
		<result property="fileLevel" column="FILE_LEVEL"/>
	</resultMap>
	
	<!-- 명소 리뷰 맵 세령 -->
	<resultMap type="com.kh.ti.spot.model.vo.SpotReviews" id="spotReviewsResultSet">
	 	<id property="spotReviewId" column="SPOT_REVIEW_ID"/>
	 	<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewDate" column="REVIEW_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
		<result property="delDate" column="DEL_DATE"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="spotId" column="SPOT_ID"/>
		<result property="grade" column="GRADE"/>
	</resultMap>
	
	  	<!-- 여행지 도시 와 사진을 가지고 오기 위한 hashmap 세령-->
	  	<resultMap type="java.util.HashMap" id="spotReviewListResultSet">
	  		<id property="spotReviewId" column="SPOT_REVIEW_ID"/>
		 	<result property="reviewContent" column="REVIEW_CONTENT"/>
			<result property="reviewDate" column="REVIEW_DATE"/>
			<result property="memberId" column="MEMBER_ID"/>
			<result property="spotId" column="SPOT_ID"/>
			<result property="grade" column="GRADE"/>
			<result property="userName" column="USER_NAME"/>
	  	</resultMap>
  	
  	<!-- 여행지 상세(명소 조회용) 세령 -->
  	<select id="selectSpotList" resultMap="spotListAllResultSet" parameterType="_int">
		SELECT SP.SPOT_ID, SPOT_NAME_KO, SPOT_NAME_EN, SPOT_CONTENT, SPOT_ADDRESS, 
		        OPENING_HOURS, SPOT_PHONE, WEB_ADDRESS, ENROLL_DATE, MODIFY_DATE, DEL_DATE, RECOVERY_DATE, 
		        SPOT_COUNT, SP.CITY_ID, SPOT_STATUS, PLCTYPE_ID, FILE_ID, FILE_PATH, PIC_TYPE, PIC_STATUS, FILE_LEVEL
		FROM SPOTLIST SP JOIN CITY CT ON (SP.CITY_ID = CT.CITY_ID)
		                 JOIN SPOT_FILE SF ON (SP.SPOT_ID = SF.SPOT_ID)
		WHERE SPOT_STATUS = 'Y'
		AND SP.CITY_ID = #{ cityId }
		AND FILE_LEVEL = 1  	
  	</select>
  	
  	<!-- 마이페이지 좋아요 추가용 세령 -->
  	<insert id="insertSpotLikey" parameterType="LikeySpot">
  		INSERT INTO LIKEY
		VALUES (LIKEY_SEQ.NEXTVAL, #{ memberId }, SYSDATE, 'SPOT', #{ spotId }, NULL)
  	</insert>
  	
  	<!-- 마이페이지 좋아요 명소 조회용 세령 -->
  	<select id="selectMyLikeySpotList" parameterType="_int" resultMap="spotResultSet" >
  		SELECT SL.SPOT_ID, SPOT_NAME_KO, SL.PLCTYPE_ID, SPOT_NAME_EN, SPOT_ADDRESS,
       		   SL.CITY_ID, CITY_NAME_KO, CT.COUNTRY_ID, COUNTRY_NAME_KO
		FROM LIKEY L     JOIN SPOTLIST SL ON (SL.SPOT_ID = L.SPOT_ID)
		                 LEFT JOIN CITY CT ON (SL.CITY_ID = CT.CITY_ID)
		                 JOIN COUNTRY C ON (CT.COUNTRY_ID = C.COUNTRY_ID)
		WHERE L.MEMBER_ID = #{ memberId }
  	</select>
  	
  	<!-- ******* -->
  	<!-- 여행지 국가만 조회용 세령 -->
  	<select id="selectCountryList" resultMap="countryResultSetSpot">
  		SELECT C.COUNTRY_ID, COUNTRY_NAME_KO, CONTINENT_NAME
		FROM CITY CT JOIN COUNTRY C ON (CT.COUNTRY_ID = C.COUNTRY_ID)
		WHERE CT.CITY_ID IN (SELECT CITY_ID FROM SPOTLIST GROUP BY CITY_ID)
  	</select>
  	
  	<!-- 여행지 도시 전체 조회 세령 -->
  	<select id="selectCityMap" resultMap="spopCityAllResultSet">
  		SELECT C.CITY_ID, CITY_NAME_KO, CITY_CONTENT, C.COUNTRY_ID, CITY_NAME_EN, 
		       FILE_ID, FILE_PATH, PIC_TYPE, PIC_STATUS, FILE_LEVEL
		FROM CITY C JOIN SPOT_FILE SF ON (C.CITY_ID = SF.CITY_ID) 
		WHERE C.CITY_ID IN (SELECT CITY_ID FROM SPOTLIST GROUP BY CITY_ID)
		AND SF.FILE_LEVEL = 1
  	</select>
  	
  	<!-- CITY ID로 도시정보 조회 세령 -->
	<select id="selectCountryOneInfo" parameterType="_int" resultMap="countryResultSetSpot">
		SELECT * FROM COUNTRY
		WHERE COUNTRY_ID = (SELECT COUNTRY_ID FROM CITY WHERE CITY_ID = #{ cityId })
	</select>
	
	<!-- CITY ID로 도시 사진 조회 세령 -->
	<select id="selectCityFile" parameterType="_int" resultMap="spotFileResultSet">
		SELECT * FROM SPOT_FILE
		WHERE CITY_ID = #{ cityId }
	</select>
	
	<!-- SPOT ID로 도시 조회 세령 -->
	<select id="selectCityOne" parameterType="_int" resultMap="cityResultSetSpot">
		SELECT *
		FROM CITY
		WHERE CITY_ID = (SELECT CITY_ID FROM SPOTLIST WHERE SPOT_ID = #{ spotId } )
	</select>
	
	<!-- spot info 조회 세령 -->
	<select id="selectSpotListOne" parameterType="_int" resultMap="spotResultSet">
		SELECT * FROM SPOTLIST
		WHERE SPOT_ID = #{ spotId }
	</select>
	
	<!-- 명소 리뷰 등록 세령 -->
	<insert id="insertSpotReviews" parameterType="SpotReviews">
		INSERT INTO SPOT_REVIEWS
		VALUES (SPOT_REVIEWS_SEQ.NEXTVAL, #{ reviewContent }, SYSDATE, NULL, NULL, #{ memberId }, #{ spotId }, #{ grade })
	</insert>
	
	<!-- 명소 리뷰 조회 세령 -->
	<select id="selectSpotReviews" parameterType="_int" resultMap="spotReviewListResultSet">
		SELECT SPOT_REVIEW_ID, REVIEW_CONTENT, REVIEW_DATE, SR.MEMBER_ID, SPOT_ID, GRADE, USER_NAME
		FROM SPOT_REVIEWS SR JOIN MEMBER M ON (SR.MEMBER_ID = M.MEMBER_ID)
		WHERE SPOT_ID = #{ spotId }
		ORDER BY REVIEW_DATE DESC
	</select>
	
	<!-- spot reviews의 현재 시퀀스 조회 세령 -->
	<select id="spotReviewSeqCurrval" resultType="_int">
		SELECT SPOT_REVIEWS_SEQ.CURRVAL FROM DUAL
	</select>
	
	<!-- 명소 사진 조회 세령 -->
	<select id="selectSpotFile" parameterType="_int" resultMap="spotFileResultSet">
		SELECT *
		FROM SPOT_FILE
		WHERE SPOT_ID = #{ spotId }
	</select>
 </mapper>