<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="Spot">
 
 	<!-- country map 세령 -->
 	<resultMap type="com.kh.ti.travel.model.vo.Country" id="countryResultSetSpot">
 		<id property="countryId" column="COUNTRY_ID"/>
 		<result property="continentName" column="CONTINENT_NAME"/>
 		<result property="countryNameKo" column="COUNTRY_NAME_KO"/>
 		<result property="countryNameEn" column="COUNTRY_NAME_EN"/>
 		<result property="currencyUnit" column="CURRENCY_UNIT"/>
 	</resultMap>
 	
 	<!-- city map 세령 -->
 	<resultMap type="com.kh.ti.travel.model.vo.City" id="cityResultSetSpot">
 		<id property="cityId" column="CITY_ID"/>
 		<result property="cityNameKo" column="CITY_NAME_KO"/>
 		<result property="cityContent" column="CITY_CONTENT"/>
 		<result property="countryId" column="COUNTRY_ID"/>
 		<result property="cityNameEn" column="CITY_NAME_EN"/>
 	</resultMap>
 	
 	<!-- spot file map 세령 -->
 	<resultMap type="com.kh.ti.spot.model.vo.SpotFile" id="spotFileResultSet">
 		<id property="fileId" column="FILE_ID"/>
 		<result property="filePath" column="FILE_PATH"/>
 		<result property="changeName" column="CHANGE_NAME"/>
 		<result property="orginName" column="ORIGIN_NAME"/>
 		<result property="picType" column="PIC_TYPE"/>
 		<result property="uploadDate" column="UPLOAD_DATE"/>
 		<result property="picStatus" column="PIC_STATUS"/>
 		<result property="spotId" column="SPOT_ID"/>
 		<result property="cityId" column="CITY_ID"/>
 		<result property="fileLevel" column="FILE_LEVEL"/>
 	</resultMap>
 	
 	<!-- spotCityList Map 세령 -->
 	<resultMap type="com.kh.ti.spot.model.vo.SpotCityList" id="spotCityListResultSet">
 		<id property="CityListId" column="CITY_ID"/>
 		<collection property="cityList" javaType="java.util.ArrayList" resultMap="cityResultSetSpot"/>
 		<collection property="countryList" javaType="java.util.ArrayList" resultMap="countryResultSetSpot"/>
 		<collection property="sFileList" javaType="java.util.ArrayList" resultMap="spotFileResultSet"/>
  	</resultMap> 
  	
  	<!-- SpotList Map 세령 -->
  	<resultMap type="com.kh.ti.spot.model.vo.SpotList" id="spotResultSet">
 		<id property="spotId" column="SPOT_ID"/>
 		<result property="spotNameKo" column="SPOT_NAME_KO"/>
 		<result property="spotNameEn" column="SPOT_NAME_EN"/>
 		<result property="spotContent" column="SPOT_CONTENT"/>
 		<result property="spotAddress" column="SPOT_ADDRESS"/>
 		<result property="openingHours" column="OPENING_HOURS"/>
 		<result property="spotPhone" column="SPOT_PHONE"/>
 		<result property="webAddress" column="WEB_ADDRESS"/>
 		<result property="enrollDate" column="ENROLL_DATE"/>
 		<result property="modifyDate" column="MODIFY_DATE"/>
 		<result property="delDate" column="DEL_DATE"/>
 		<result property="recoveryDate" column="RECOVERY_DATE"/>
 		<result property="spotCount" column="SPOT_COUNT"/>
 		<result property="cityId" column="CITY_ID"/>
 		<result property="spotStatus" column="SPOT_STATUS"/>
 		<result property="placeId" column="PLACE_ID"/>
 		<collection property="cityList" javaType="java.util.ArrayList" resultMap="cityResultSetSpot"/>
 		<collection property="countryList" javaType="java.util.ArrayList" resultMap="countryResultSetSpot"/>
 		<collection property="sFileList" javaType="java.util.ArrayList" resultMap="spotFileResultSet"/>
  	</resultMap>
  	
  	<!-- 여행지 도시명 조회용 세령 -->
  	<select id="selectCityNames" resultMap="spotCityListResultSet">
  		SELECT CITY_ID, CITY_NAME_KO, CITY_CONTENT, CITY_NAME_EN,  T.COUNTRY_ID, CONTINENT_NAME, COUNTRY_NAME_KO, COUNTRY_NAME_EN, CURRENCY_UNIT
		FROM CITY T JOIN COUNTRY C ON (T.COUNTRY_ID = C.COUNTRY_ID)
		WHERE CITY_ID IN (SELECT CITY_ID FROM SPOTLIST GROUP BY CITY_ID)
  	</select> 	
  	
  	<!-- 여행지 도시 리스트 조회용 세령 -->
  	<select id="selectCityList" resultMap="spotCityListResultSet">
		SELECT T.CITY_ID, CITY_NAME_KO, CITY_CONTENT, CITY_NAME_EN, C.COUNTRY_ID,  CONTINENT_NAME, COUNTRY_NAME_KO, COUNTRY_NAME_EN, CURRENCY_UNIT,
		       FILE_ID, FILE_PATH, PIC_TYPE, UPLOAD_DATE, PIC_STATUS, FILE_LEVEL
		FROM CITY T JOIN COUNTRY C ON (T.COUNTRY_ID = C.COUNTRY_ID)
		            JOIN SPOT_FILE F ON (F.CITY_ID = T.CITY_ID)
		WHERE T.CITY_ID IN (SELECT CITY_ID FROM SPOTLIST GROUP BY CITY_ID)
		AND PIC_STATUS = 'Y'
  	</select>
  	
  	<!-- 여행지 상세(명소 조회용) 세령 -->
  	<select id="selectSpotList" resultMap="spotResultSet" parameterType="_int">
		SELECT SP.SPOT_ID, SPOT_NAME_KO, SPOT_NAME_EN, SPOT_CONTENT, SPOT_ADDRESS, 
		        OPENING_HOURS, SPOT_PHONE, WEB_ADDRESS, ENROLL_DATE, MODIFY_DATE, DEL_DATE, RECOVERY_DATE, 
		        SPOT_COUNT, SP.CITY_ID, SPOT_STATUS, PLCTYPE_ID, CITY_NAME_KO, CITY_NAME_EN,
		        FILE_ID, FILE_PATH, PIC_TYPE, UPLOAD_DATE, PIC_STATUS, FILE_LEVEL
		FROM SPOTLIST SP JOIN CITY CT ON (SP.CITY_ID = CT.CITY_ID)
		                 JOIN SPOT_FILE SF ON (SP.SPOT_ID = SF.SPOT_ID)
		WHERE SPOT_STATUS = 'Y'
		AND SP.CITY_ID = #{ cityId }
		AND FILE_LEVEL = 1  	
  	</select>
  	
  	<!-- 마이페이지 좋아요 추가용 세령 -->
  	<insert id="insertSpotLikey" parameterType="LikeySpot">
  		INSERT INTO LIKEY
		VALUES (LIKEY_SEQ.NEXTVAL, #{ memberId }, SYSDATE, 'SPOT', #{ spotId }, NULL)
  	</insert>
  	
  	<!-- 마이페이지 좋아요 명소 조회용 세령 -->
  	<select id="selectMyLikeySpotList" parameterType="_int" resultMap="spotResultSet" >
  		SELECT SL.SPOT_ID, SPOT_NAME_KO, SL.PLCTYPE_ID, SPOT_NAME_EN, SPOT_ADDRESS,
       		   SL.CITY_ID, CITY_NAME_KO, CT.COUNTRY_ID, COUNTRY_NAME_KO
		FROM LIKEY L     JOIN SPOTLIST SL ON (SL.SPOT_ID = L.SPOT_ID)
		                 LEFT JOIN CITY CT ON (SL.CITY_ID = CT.CITY_ID)
		                 JOIN COUNTRY C ON (CT.COUNTRY_ID = C.COUNTRY_ID)
		WHERE L.MEMBER_ID = #{ memberId }
  	</select>
  	
 </mapper>