<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="TravelRequest">
	<resultMap type="com.kh.ti.travelRequest.model.vo.TravelRequest" id="travelRequestResultSet">
		
	</resultMap>
	<insert id="insertRequest" parameterType="TravelRequest">
		INSERT INTO TRV_REQUEST
		VALUES(TRV_REQUEST_SEQ.NEXTVAL, #{requestTitle}, #{requestContent},
			   #{endDate}, #{requestPrice}, 1, 'N', NULL, #{trvCost})
	</insert>
</mapper>