<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Travel">
	
	<resultMap id="TravelResultSet" type="Travel">
		<id property="trvId" column="TRV_ID"/>
		<result property="trvTitle" column="TRV_TITLE" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<result property="compNumber" column="COMP_NUMBER" />
		<result property="openDate" column="OPEN_DATE" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="completeDate" column="COMPLETE_DATE" />
		<result property="status" column="STATUS" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="trvRef" column="TRV_REF" />
	</resultMap>
	<resultMap id="CountryResultSet" type="Country">
		<id property="countryId" column="COUNTRY_ID" />
		<result property="continentName" column="CONTINENT_NAME" />
		<result property="countryNameKo" column="COUNTRY_NAME_KO" />
		<result property="countryNameEn" column="COUNTRY_NAME_EN" />
		<result property="currencyUnit" column="CURRENCY_UNIT" />
	</resultMap>
	<resultMap id="CityResultSet" type="City">
		<id property="cityId" column="CITY_ID" />
		<result property="cityNameKo" column="CITY_NAME_KO" />
		<result property="cityContent" column="CITY_CONTENT" />
		<result property="countryId" column="COUNTRY_ID" />
		<result property="cityNameEn" column="CITY_NAME_EN" />
	</resultMap>
	<resultMap id="TrvCityResultMap" type="TrvCity">
		<id property="cityId" column="CITY_ID" />
		<id property="trvId" column="TRV_ID" />
		<id property="cityNameKo" column="CITY_NAME_KO" />
		<id property="cityNameEn" column="CITY_NAME_EN" />
		<id property="countryId" column="COUNTRY_ID" />
		<id property="countryNameKo" column="COUNTRY_NAME_KO" />
		<id property="countryNameEn" column="COUNTRY_NAME_EN" />
		<id property="currencyUnit" column="CURRENCY_UNIT" />
	</resultMap>
	<resultMap id="TrvDayResultSet" type="TrvDay">
		<id property="dayId" column="DAY_ID" />
		<result property="dayNumber" column="DAY_NUMBER" />
		<result property="dayDate" column="DAY_DATE" />
		<result property="dayMemo" column="DAY_MEMO" />
		<result property="dayWeather" column="DAY_WEATHER" />
		<result property="isTimeSet" column="ISTIMESET" />
		<result property="trvId" column="TRV_ID" />
	</resultMap>
	<resultMap id="TagResultSet" type="Tag">
		<id property="tagId" column="TAG_ID" />
		<result property="tagName" column="TAG_NAME"/>
	</resultMap>
	<insert id="insertTravel" parameterType="Travel">
		INSERT INTO TRAVEL
		VALUES(TRAVEL_SEQ.NEXTVAL, #{trvTitle}, #{startDate}, #{endDate}, #{compNumber}, SYSDATE, SYSDATE, NULL, 'Y', 5, NULL)
	</insert>
	<select id="selectTrvId" resultType="_int">
		SELECT TRAVEL_SEQ.CURRVAL FROM DUAL
	</select>
	<select id="selectCity" parameterType="_int" resultMap="CityResultSet">
		SELECT *
		FROM CITY
		WHERE CITY_ID = #{cityId}
	</select>
	<insert id="insertTrvCity" parameterType="TrvCity">
		INSERT INTO TRV_CITY
		VALUES(#{cityId}, #{trvId})
	</insert>
	<insert id="insertTrvDay" parameterType="TrvDay">
		INSERT INTO TRV_DAY
		VALUES(TRV_DAY_SEQ.NEXTVAL, #{dayNumber}, #{dayDate}, NULL, NULL, 'N', #{trvId})
	</insert>
	<select id="selectTravel" parameterType="_int" resultMap="TravelResultSet">
		SELECT *
		FROM TRAVEL
		WHERE TRV_ID = #{trvId}
		AND STATUS = 'Y'
	</select>
	<select id="selectTrvCityList" parameterType="_int" resultMap="TrvCityResultMap">
		SELECT TC.*, CITY.CITY_NAME_KO, CITY.CITY_NAME_EN, CITY.COUNTRY_ID, CTRY.COUNTRY_NAME_KO, CTRY.COUNTRY_NAME_EN,
		CTRY.CURRENCY_UNIT
		FROM TRV_CITY TC
		JOIN CITY ON (TC.CITY_ID = CITY.CITY_ID)
		JOIN COUNTRY CTRY ON (CITY.COUNTRY_ID = CTRY.COUNTRY_ID)
		WHERE TC.TRV_ID = #{trvId}
	</select>
	<select id="selectTrvDayList" parameterType="_int" resultMap="TrvDayResultSet">
		SELECT *
		FROM TRV_DAY
		WHERE TRV_ID = #{trvId}
		ORDER BY DAY_NUMBER
	</select>
	<select id="selectCountryList" resultMap="CountryResultSet">
		SELECT *
		FROM COUNTRY
	</select>
	<select id="selectCityList" parameterType="_int" resultMap="CityResultSet">
		SELECT *
		FROM CITY
		WHERE COUNTRY_ID = #{countryId}
	</select>
	<select id="selectAllTagList" resultMap="TagResultSet">
		SELECT *
		FROM TAG
	</select>
	<update id="updateTravel" parameterType="Travel">
		UPDATE TRAVEL
		SET TRV_TITLE = #{trvTitle}, START_DATE = #{startDate}, END_DATE = #{endDate}, 
		COMP_NUMBER = #{compNumber}, MODIFY_DATE = SYSDATE
		WHERE TRV_ID = #{trvId}
	</update>
	<delete id="deleteTrvCity" parameterType="TrvCity">
		DELETE FROM TRV_CITY
		WHERE CITY_ID = #{cityId} AND TRV_ID = #{trvId}
	</delete>
	<update id="updateTrvDay" parameterType="TrvDay">
		UPDATE TRV_DAY
		SET DAY_DATE = #{dayDate}
		WHERE DAY_NUMBER = #{dayNumber} AND TRV_ID = #{trvId}
	</update>
	<delete id="deleteTrvDay" parameterType="TrvDay">
		DELETE FROM TRV_DAY
		WHERE DAY_ID = #{dayId}
	</delete>
	<update id="completeTravel" parameterType="_int">
		UPDATE TRAVEL
		SET COMPLETE_DATE = SYSDATE
		WHERE TRV_ID = #{trvId}
	</update>
</mapper>





















