<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- Member Part 수정(세령) -->
	<typeAliases>
		<typeAlias type="com.kh.ti.member.model.vo.Member" alias="Member"/>
		<!-- 수민 -->
		<typeAlias type="com.kh.ti.point.model.vo.Payment" alias="Payment"/>
    <!-- 선우 -->
    <typeAlias type="com.kh.ti.travelRequest.model.vo.TravelRequest" alias="TravelRequest"/>
    <!-- 민지 추가 -->
		<typeAlias type="com.kh.ti.travel.model.vo.Travel" alias="Travel" />
		<typeAlias type="com.kh.ti.travel.model.vo.Country" alias="Country" />
		<typeAlias type="com.kh.ti.travel.model.vo.City" alias="City" />
		<typeAlias type="com.kh.ti.travel.model.vo.TrvCity" alias="TrvCity" />
		<typeAlias type="com.kh.ti.travel.model.vo.TrvDay" alias="TrvDay" />
		<typeAlias type="com.kh.ti.travel.model.vo.Tag" alias="Tag" />
    <!-- TravelBoard Part (예랑) -->
		<typeAlias type="com.kh.ti.travelBoard.model.vo.TravelBoard" alias="TravelBoard"/>
		<!-- <typeAlias type="com.kh.ti.travel.model.vo.Tag" alias="TravelTag"/> -->
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<!-- 수민 -->
		<mapper resource="mappers/point-mapper.xml"/>
    <!-- 선우 -->
    <mapper resource="mappers/travelRequest-mapper.xml"/>
    <!-- 민지 추가 -->
		<mapper resource="mappers/travel-mapper.xml" />
    <!-- TravelBoard Part (예랑) -->
		<mapper resource="mappers/travelBoard-mapper.xml"/>
	</mappers>
	
	
</configuration>

